body {
    background-color: maroon;
    margin-bottom: 500px !important;
  }

  button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0 * -4s;
  }

  .panel {
    padding: 0 18px;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .active,
  button:hover {
    background-color: #a24857;
    color: white;
  }